<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerIdentifier</key>
				<string>7F819E56-6293-485A-965D-2EE572D5E322</string>
				<key>CreatedDate</key>
				<date>2018-06-07T10:45:08Z</date>
				<key>ID</key>
				<string>page5</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Contact</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/sal/Downloads/salska.github.io-master/</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-09-18T11:38:48Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>contact.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ofVdyBIWK07U
								GQKxh3pg2w==
								</data>
								<key>Size</key>
								<integer>6380</integer>
							</dict>
							<key>files/adobe-muse-alternatives-for-mac.html</key>
							<dict>
								<key>Digest</key>
								<data>
								OkHnk07LF3an
								y67tcWK0TA==
								</data>
								<key>Size</key>
								<integer>9432</integer>
							</dict>
							<key>files/archive-june-2018.html</key>
							<dict>
								<key>Digest</key>
								<data>
								vjKjixWwgBYI
								A/owXEjshA==
								</data>
								<key>Size</key>
								<integer>6735</integer>
							</dict>
							<key>files/feed.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								BACPFEhFg6OX
								JUuBkPdZ1g==
								</data>
								<key>Size</key>
								<integer>2254</integer>
							</dict>
							<key>files/health-check.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4kVW/+1DJ2S/
								JApg9D2L9g==
								</data>
								<key>Size</key>
								<integer>825829</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								cLDBzaJCK4vs
								4K2gk70aLA==
								</data>
								<key>Size</key>
								<integer>1955</integer>
							</dict>
							<key>files/rapidweaver-8-coming-soon.html</key>
							<dict>
								<key>Digest</key>
								<data>
								p6cgEPbeJSCx
								AXL68w/GnA==
								</data>
								<key>Size</key>
								<integer>7445</integer>
							</dict>
							<key>files/rapidweaver-8.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Wk3FTFqbNcwP
								Qd33kvnXFw==
								</data>
								<key>Size</key>
								<integer>517924</integer>
							</dict>
							<key>files/welcome.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								e2cqaHJSfQhK
								ZHd8/k03Hw==
								</data>
								<key>Size</key>
								<integer>1265546</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page5</string>
						<key>SiteRoot</key>
						<string>contact</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>file:///Users/sal/Downloads/salska.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-09-18T20:10:31Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>contact.html</key>
							<dict>
								<key>Digest</key>
								<data>
								HsA6+dLMlX8j
								pZfRcitjEw==
								</data>
								<key>Size</key>
								<integer>6538</integer>
							</dict>
							<key>files/adobe-muse-alternatives-for-mac.html</key>
							<dict>
								<key>Digest</key>
								<data>
								S4wSo1r2tAt4
								ogz5zZS4vg==
								</data>
								<key>Size</key>
								<integer>9596</integer>
							</dict>
							<key>files/archive-june-2018.html</key>
							<dict>
								<key>Digest</key>
								<data>
								UbMT/07y5pNR
								Rbd/J9W1uw==
								</data>
								<key>Size</key>
								<integer>6899</integer>
							</dict>
							<key>files/feed.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								BACPFEhFg6OX
								JUuBkPdZ1g==
								</data>
								<key>Size</key>
								<integer>2254</integer>
							</dict>
							<key>files/health-check.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4kVW/+1DJ2S/
								JApg9D2L9g==
								</data>
								<key>Size</key>
								<integer>825829</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								cLDBzaJCK4vs
								4K2gk70aLA==
								</data>
								<key>Size</key>
								<integer>1955</integer>
							</dict>
							<key>files/rapidweaver-8-coming-soon.html</key>
							<dict>
								<key>Digest</key>
								<data>
								A+P49S+uFvUz
								oprGlzQcxQ==
								</data>
								<key>Size</key>
								<integer>7609</integer>
							</dict>
							<key>files/rapidweaver-8.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Wk3FTFqbNcwP
								Qd33kvnXFw==
								</data>
								<key>Size</key>
								<integer>517924</integer>
							</dict>
							<key>files/welcome.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								e2cqaHJSfQhK
								ZHd8/k03Hw==
								</data>
								<key>Size</key>
								<integer>1265546</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page5</string>
						<key>SiteRoot</key>
						<string>contact</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
