<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerIdentifier</key>
				<string>7F819E56-6293-485A-965D-2EE572D5E322</string>
				<key>CreatedDate</key>
				<date>2019-09-19T18:12:31Z</date>
				<key>ID</key>
				<string>page5</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Contact</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.8</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/sal/Downloads/salska.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-09-20T11:27:00Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>contact.html</key>
							<dict>
								<key>Digest</key>
								<data>
								wD8183CZo3V2
								6tQQ320HPQ==
								</data>
								<key>Size</key>
								<integer>6787</integer>
							</dict>
							<key>files/stacks-image-c2e962a-174x180.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								3mwtYVh7yeoH
								aJkmFWSF+Q==
								</data>
								<key>Size</key>
								<integer>8707</integer>
							</dict>
							<key>files/stacks-image-c2e962a-174x180@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BclAp7hr1hSK
								tFVH+nG4nA==
								</data>
								<key>Size</key>
								<integer>12978</integer>
							</dict>
							<key>files/stacks_page_page5.css</key>
							<dict>
								<key>Digest</key>
								<data>
								XbV7+a13ldHj
								3zgfCSKB6Q==
								</data>
								<key>Size</key>
								<integer>127</integer>
							</dict>
							<key>files/stacks_page_page5.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page5</string>
						<key>SiteRoot</key>
						<string>contact</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
