<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerIdentifier</key>
				<string>7F819E56-6293-485A-965D-2EE572D5E322</string>
				<key>CreatedDate</key>
				<date>2019-09-19T17:59:37Z</date>
				<key>ID</key>
				<string>page3</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Contact</string>
				<key>PluginClassName</key>
				<string>RWContactFormPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Contact Form</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/sal/Downloads/salska.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-09-19T18:10:04Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>contact.php</key>
							<dict>
								<key>Digest</key>
								<data>
								JQtbmQa1XoLb
								9Dt6qgbCKA==
								</data>
								<key>Size</key>
								<integer>7029</integer>
							</dict>
							<key>files/mailer.php</key>
							<dict>
								<key>Digest</key>
								<data>
								Yuy3KExgyEEj
								i9A9cfqN1Q==
								</data>
								<key>Size</key>
								<integer>8977</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page3</string>
						<key>SiteRoot</key>
						<string>contact</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
