<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerIdentifier</key>
				<string>5000328A-8456-473B-88A6-B2DDDF25316E</string>
				<key>CreatedDate</key>
				<date>2018-06-07T10:45:08Z</date>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Case Studies</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/sal/Downloads/salska.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-09-20T10:00:08Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>case.html</key>
							<dict>
								<key>Digest</key>
								<data>
								S39W8J2pXwR/
								eCbj3/XYXA==
								</data>
								<key>Size</key>
								<integer>6247</integer>
							</dict>
							<key>files/4c8f4cd762a7965da1ba67a14f82f66d-2.html</key>
							<dict>
								<key>Digest</key>
								<data>
								HSjXIvfjCUQl
								pAA922SSUw==
								</data>
								<key>Size</key>
								<integer>7054</integer>
							</dict>
							<key>files/category-banking.html</key>
							<dict>
								<key>Digest</key>
								<data>
								M5Dm25TFs+YE
								8hw5NJl7rw==
								</data>
								<key>Size</key>
								<integer>6342</integer>
							</dict>
							<key>files/category-camunda.html</key>
							<dict>
								<key>Digest</key>
								<data>
								8CUqqB3qdhg8
								IBY5I8zSFw==
								</data>
								<key>Size</key>
								<integer>6342</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								aEeW1hsUCgEw
								iW5q7Z+sIQ==
								</data>
								<key>Size</key>
								<integer>2212</integer>
							</dict>
							<key>files/tag-compliance.html</key>
							<dict>
								<key>Digest</key>
								<data>
								+yzlOBjpRhvY
								jFEa0FwhRg==
								</data>
								<key>Size</key>
								<integer>6529</integer>
							</dict>
							<key>files/tag-regulatory.html</key>
							<dict>
								<key>Digest</key>
								<data>
								5vy0bVnLSfvV
								3q6XvDjXjg==
								</data>
								<key>Size</key>
								<integer>6529</integer>
							</dict>
							<key>files/tag-tax.html</key>
							<dict>
								<key>Digest</key>
								<data>
								+DParpnx1Faw
								vfuSk/b3VA==
								</data>
								<key>Size</key>
								<integer>6487</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string>case</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
