<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerIdentifier</key>
				<string>5000328A-8456-473B-88A6-B2DDDF25316E</string>
				<key>CreatedDate</key>
				<date>2018-06-07T10:45:08Z</date>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Case Studies</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/sal/Downloads/salska.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-09-19T22:45:21Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>case.html</key>
							<dict>
								<key>Digest</key>
								<data>
								OOxdcMiiZAF4
								O/uP3yzqZQ==
								</data>
								<key>Size</key>
								<integer>6437</integer>
							</dict>
							<key>files/4c8f4cd762a7965da1ba67a14f82f66d-2.html</key>
							<dict>
								<key>Digest</key>
								<data>
								dTAGK6WftaLb
								822HGiFn8w==
								</data>
								<key>Size</key>
								<integer>7455</integer>
							</dict>
							<key>files/category-banking.html</key>
							<dict>
								<key>Digest</key>
								<data>
								dSAyE+wxgL8P
								HXD11bimXQ==
								</data>
								<key>Size</key>
								<integer>6538</integer>
							</dict>
							<key>files/category-camunda.html</key>
							<dict>
								<key>Digest</key>
								<data>
								H6a2w4ylP7R0
								qHOFIZ2SIQ==
								</data>
								<key>Size</key>
								<integer>6538</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								aEeW1hsUCgEw
								iW5q7Z+sIQ==
								</data>
								<key>Size</key>
								<integer>2212</integer>
							</dict>
							<key>files/tag-compliance.html</key>
							<dict>
								<key>Digest</key>
								<data>
								x07xV3+pvs+G
								kya4d2baYg==
								</data>
								<key>Size</key>
								<integer>6725</integer>
							</dict>
							<key>files/tag-regulatory.html</key>
							<dict>
								<key>Digest</key>
								<data>
								vrUHBz64MNz1
								febar3Iwvg==
								</data>
								<key>Size</key>
								<integer>6725</integer>
							</dict>
							<key>files/tag-tax.html</key>
							<dict>
								<key>Digest</key>
								<data>
								3/rYDncPMSMt
								6YFON+sgXg==
								</data>
								<key>Size</key>
								<integer>6683</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string>case</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
