<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerIdentifier</key>
				<string>4B5BD9A7-1DEA-4943-B9CE-9B89FEAC0139</string>
				<key>CreatedDate</key>
				<date>2019-09-18T18:41:37Z</date>
				<key>ID</key>
				<string>page6</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>About</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.8</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/sal/Downloads/salska.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-09-18T20:10:31Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks-image-0ce6c0b.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UN8i7UCbgSOY
								jyIqo3p91Q==
								</data>
								<key>Size</key>
								<integer>32263</integer>
							</dict>
							<key>files/stacks-image-2054016.png</key>
							<dict>
								<key>Digest</key>
								<data>
								68uhEJynKW91
								5eyXTGAmgQ==
								</data>
								<key>Size</key>
								<integer>5073</integer>
							</dict>
							<key>files/stacks-image-ac3069d.png</key>
							<dict>
								<key>Digest</key>
								<data>
								iQr/FkNmIsrt
								ZQC0/PPV5Q==
								</data>
								<key>Size</key>
								<integer>2062</integer>
							</dict>
							<key>files/stacks-image-fdf518d.png</key>
							<dict>
								<key>Digest</key>
								<data>
								iQr/FkNmIsrt
								ZQC0/PPV5Q==
								</data>
								<key>Size</key>
								<integer>2062</integer>
							</dict>
							<key>files/stacks_page_page6.css</key>
							<dict>
								<key>Digest</key>
								<data>
								7IQcXR0V0xwp
								BHSoFOzrrA==
								</data>
								<key>Size</key>
								<integer>1185</integer>
							</dict>
							<key>files/stacks_page_page6.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								HWuDHit/YlC1
								FFvb6Ud5Sw==
								</data>
								<key>Size</key>
								<integer>9589</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page6</string>
						<key>SiteRoot</key>
						<string>page</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
