<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerIdentifier</key>
				<string>1323697B-EEF9-4946-BD72-A2D5B32942CA</string>
				<key>CreatedDate</key>
				<date>2019-09-20T10:06:06Z</date>
				<key>CustomThemeName</key>
				<string>Future</string>
				<key>ID</key>
				<string>page3</string>
				<key>PageTitle</key>
				<string>RBS</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.8</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/sal/Downloads/salska.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-09-20T15:48:44Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks-image-8432c65-262x300.png</key>
							<dict>
								<key>Digest</key>
								<data>
								dCLBDaPJ0IFH
								xYZLLBC63w==
								</data>
								<key>Size</key>
								<integer>31468</integer>
							</dict>
							<key>files/stacks-image-8432c65-262x300@2x.png</key>
							<dict>
								<key>Digest</key>
								<data>
								VBuLUxnbPOwo
								IPZ1sU7fSA==
								</data>
								<key>Size</key>
								<integer>72632</integer>
							</dict>
							<key>files/stacks_page_page3.css</key>
							<dict>
								<key>Digest</key>
								<data>
								N6mdgptNGTKS
								oMofYhKkvA==
								</data>
								<key>Size</key>
								<integer>52</integer>
							</dict>
							<key>files/stacks_page_page3.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								rrnhDdVlrPpu
								ZLSrDW90kg==
								</data>
								<key>Size</key>
								<integer>7996</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page3</string>
						<key>SiteRoot</key>
						<string>work/page-2</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
