<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerIdentifier</key>
				<string>8048275B-7470-48F3-82F2-FC0CE7420DF1</string>
				<key>CreatedDate</key>
				<date>2018-06-07T10:45:08Z</date>
				<key>CustomThemeName</key>
				<string>Future</string>
				<key>ID</key>
				<string>page4</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>News</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/sal/Downloads/salska.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-09-19T22:45:21Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/277340c36d4b47e89a86ffd2c90acbc3-2.html</key>
							<dict>
								<key>Digest</key>
								<data>
								zInmjM2HDws0
								R+sU/W3O9A==
								</data>
								<key>Size</key>
								<integer>7381</integer>
							</dict>
							<key>files/5e6e119d3ab23544ce692cd9501825ba-4.html</key>
							<dict>
								<key>Digest</key>
								<data>
								9JOhwXWyxsxZ
								KaliPLX92g==
								</data>
								<key>Size</key>
								<integer>13432</integer>
							</dict>
							<key>files/ba7b370f30657cfc6dae614a1b4cdf59-3.html</key>
							<dict>
								<key>Digest</key>
								<data>
								AY5MyBea5sJv
								XbqjRVmcXA==
								</data>
								<key>Size</key>
								<integer>7181</integer>
							</dict>
							<key>files/category-aem.html</key>
							<dict>
								<key>Digest</key>
								<data>
								d/c4YblvYLtP
								o6C0hpuHJw==
								</data>
								<key>Size</key>
								<integer>8045</integer>
							</dict>
							<key>files/category-banking.html</key>
							<dict>
								<key>Digest</key>
								<data>
								O99KwAtPAXLD
								JFXgW/Ri2g==
								</data>
								<key>Size</key>
								<integer>7211</integer>
							</dict>
							<key>files/category-healthcare.html</key>
							<dict>
								<key>Digest</key>
								<data>
								8CO4fHsOQggj
								eMYDmNYy8g==
								</data>
								<key>Size</key>
								<integer>7380</integer>
							</dict>
							<key>files/category-public-sector.html</key>
							<dict>
								<key>Digest</key>
								<data>
								fJsI6vcZ4b0t
								xOD0Sg9n2A==
								</data>
								<key>Size</key>
								<integer>7398</integer>
							</dict>
							<key>files/feed.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								pERWch0w1rgf
								JvqKgYp49w==
								</data>
								<key>Size</key>
								<integer>2857</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								Xj+q91Abx1s2
								Q/DdOZ8mRA==
								</data>
								<key>Size</key>
								<integer>3078</integer>
							</dict>
							<key>files/tag-adobe.html</key>
							<dict>
								<key>Digest</key>
								<data>
								pu6hd6BMfDND
								KX4ibL8FjA==
								</data>
								<key>Size</key>
								<integer>7307</integer>
							</dict>
							<key>files/tag-cloud.html</key>
							<dict>
								<key>Digest</key>
								<data>
								RN2YG+X3B/H8
								e5dBsQ0O4g==
								</data>
								<key>Size</key>
								<integer>8530</integer>
							</dict>
							<key>files/tag-data-migration.html</key>
							<dict>
								<key>Digest</key>
								<data>
								/Lyksk1w8DEl
								5wfiJoxqLw==
								</data>
								<key>Size</key>
								<integer>8584</integer>
							</dict>
							<key>files/tag-digital.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Yil2/cTYDgp8
								cPiyT4O+zg==
								</data>
								<key>Size</key>
								<integer>8542</integer>
							</dict>
							<key>files/tag-security.html</key>
							<dict>
								<key>Digest</key>
								<data>
								XoSVPj8+R1vO
								hthL9Tzdfw==
								</data>
								<key>Size</key>
								<integer>7555</integer>
							</dict>
							<key>files/tag-solution-partner.html</key>
							<dict>
								<key>Digest</key>
								<data>
								R68YCS2B+9iT
								h0ucNRwHuQ==
								</data>
								<key>Size</key>
								<integer>7373</integer>
							</dict>
							<key>files/tag-sso.html</key>
							<dict>
								<key>Digest</key>
								<data>
								skzwA/LHKij2
								u9LHJByCQA==
								</data>
								<key>Size</key>
								<integer>7525</integer>
							</dict>
							<key>news.html</key>
							<dict>
								<key>Digest</key>
								<data>
								6hLBWLyR8Bw+
								uGNecl0hgg==
								</data>
								<key>Size</key>
								<integer>9344</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page4</string>
						<key>SiteRoot</key>
						<string>news</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
