<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerIdentifier</key>
				<string>8048275B-7470-48F3-82F2-FC0CE7420DF1</string>
				<key>CreatedDate</key>
				<date>2018-06-07T10:45:08Z</date>
				<key>CustomThemeName</key>
				<string>Future</string>
				<key>ID</key>
				<string>page4</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>News</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/sal/Downloads/salska.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-09-22T10:07:24Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/277340c36d4b47e89a86ffd2c90acbc3-2.html</key>
							<dict>
								<key>Digest</key>
								<data>
								gcQ8iuCsD6lT
								9KA/wASF6w==
								</data>
								<key>Size</key>
								<integer>7707</integer>
							</dict>
							<key>files/5e6e119d3ab23544ce692cd9501825ba-4.html</key>
							<dict>
								<key>Digest</key>
								<data>
								5vqXhFF4GKBN
								qhaeYmZRPw==
								</data>
								<key>Size</key>
								<integer>13758</integer>
							</dict>
							<key>files/672869f9781778b1d2306f40dc7927bd-5.html</key>
							<dict>
								<key>Digest</key>
								<data>
								FNM8vG1NSpxp
								8wPN8jktUg==
								</data>
								<key>Size</key>
								<integer>7886</integer>
							</dict>
							<key>files/a366e1d44291bcc892b4d3fc4b27c42f-6.html</key>
							<dict>
								<key>Digest</key>
								<data>
								LplcbXRoCfsQ
								ocWMmCfdGw==
								</data>
								<key>Size</key>
								<integer>8688</integer>
							</dict>
							<key>files/ba7b370f30657cfc6dae614a1b4cdf59-3.html</key>
							<dict>
								<key>Digest</key>
								<data>
								KfjjMgcMFJFU
								CIdGm+L/SA==
								</data>
								<key>Size</key>
								<integer>7567</integer>
							</dict>
							<key>files/category-aem.html</key>
							<dict>
								<key>Digest</key>
								<data>
								v7CjK9Q3/FbX
								YYK2BnWTcw==
								</data>
								<key>Size</key>
								<integer>8431</integer>
							</dict>
							<key>files/category-banking.html</key>
							<dict>
								<key>Digest</key>
								<data>
								QPKvQC25xhAO
								3flis4D/xw==
								</data>
								<key>Size</key>
								<integer>8598</integer>
							</dict>
							<key>files/category-camunda.html</key>
							<dict>
								<key>Digest</key>
								<data>
								26Iv2JY6KKLx
								FvQ4vB+PRg==
								</data>
								<key>Size</key>
								<integer>8811</integer>
							</dict>
							<key>files/category-healthcare.html</key>
							<dict>
								<key>Digest</key>
								<data>
								PzpoLzFxsP35
								qLcjOLXQqQ==
								</data>
								<key>Size</key>
								<integer>7706</integer>
							</dict>
							<key>files/category-public-sector.html</key>
							<dict>
								<key>Digest</key>
								<data>
								yp5iGm6EaqI+
								OtZJoyP7bg==
								</data>
								<key>Size</key>
								<integer>7724</integer>
							</dict>
							<key>files/feed.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								5H7Y5wLpMss1
								qRCI2QYcmw==
								</data>
								<key>Size</key>
								<integer>4353</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								zR65F/0a7uax
								r1FyK4jBrg==
								</data>
								<key>Size</key>
								<integer>3708</integer>
							</dict>
							<key>files/tag-adobe.html</key>
							<dict>
								<key>Digest</key>
								<data>
								xkf2jJisimiD
								E79JvQOpvQ==
								</data>
								<key>Size</key>
								<integer>7693</integer>
							</dict>
							<key>files/tag-bpmn.html</key>
							<dict>
								<key>Digest</key>
								<data>
								4kIjeE/yApAR
								a7RFE2gxcw==
								</data>
								<key>Size</key>
								<integer>7814</integer>
							</dict>
							<key>files/tag-cloud.html</key>
							<dict>
								<key>Digest</key>
								<data>
								sSzI6c7tkUhG
								STMaLhNBOA==
								</data>
								<key>Size</key>
								<integer>12221</integer>
							</dict>
							<key>files/tag-compliance.html</key>
							<dict>
								<key>Digest</key>
								<data>
								5aq/enfgqfBw
								xrZ8jLPSGA==
								</data>
								<key>Size</key>
								<integer>7961</integer>
							</dict>
							<key>files/tag-data-migration.html</key>
							<dict>
								<key>Digest</key>
								<data>
								jp4vuy8NzTyI
								LnJKdzyddA==
								</data>
								<key>Size</key>
								<integer>10148</integer>
							</dict>
							<key>files/tag-digital.html</key>
							<dict>
								<key>Digest</key>
								<data>
								BAczlNwWY3Kt
								aYut/Vyl0A==
								</data>
								<key>Size</key>
								<integer>8868</integer>
							</dict>
							<key>files/tag-microservice.html</key>
							<dict>
								<key>Digest</key>
								<data>
								3SNucwiFH+oy
								jfasBIBXyA==
								</data>
								<key>Size</key>
								<integer>7973</integer>
							</dict>
							<key>files/tag-regulatory.html</key>
							<dict>
								<key>Digest</key>
								<data>
								gPrj4k//HsPo
								Qf5nTdsAcQ==
								</data>
								<key>Size</key>
								<integer>7961</integer>
							</dict>
							<key>files/tag-security.html</key>
							<dict>
								<key>Digest</key>
								<data>
								C0LCJ02wxi2n
								fhoJHb9pMg==
								</data>
								<key>Size</key>
								<integer>7881</integer>
							</dict>
							<key>files/tag-solution-partner.html</key>
							<dict>
								<key>Digest</key>
								<data>
								1PletDf57t9B
								PUVDlwaGOw==
								</data>
								<key>Size</key>
								<integer>8886</integer>
							</dict>
							<key>files/tag-sso.html</key>
							<dict>
								<key>Digest</key>
								<data>
								1Bp/Alnx3qxp
								J7/mus/piQ==
								</data>
								<key>Size</key>
								<integer>7851</integer>
							</dict>
							<key>news.html</key>
							<dict>
								<key>Digest</key>
								<data>
								/5DsESIBRluu
								oVF21EaEBA==
								</data>
								<key>Size</key>
								<integer>12225</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page4</string>
						<key>SiteRoot</key>
						<string>news</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
