<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerIdentifier</key>
				<string>8048275B-7470-48F3-82F2-FC0CE7420DF1</string>
				<key>CreatedDate</key>
				<date>2018-06-07T10:45:08Z</date>
				<key>CustomThemeName</key>
				<string>Future</string>
				<key>ID</key>
				<string>page4</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>News</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/sal/Downloads/salska.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-09-19T18:58:35Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/277340c36d4b47e89a86ffd2c90acbc3-2.html</key>
							<dict>
								<key>Digest</key>
								<data>
								h5lK0NL6cben
								f7kLNhNT5A==
								</data>
								<key>Size</key>
								<integer>7388</integer>
							</dict>
							<key>files/5e6e119d3ab23544ce692cd9501825ba-4.html</key>
							<dict>
								<key>Digest</key>
								<data>
								snyIFx/Umu9F
								oa4c/IiNUQ==
								</data>
								<key>Size</key>
								<integer>13439</integer>
							</dict>
							<key>files/ba7b370f30657cfc6dae614a1b4cdf59-3.html</key>
							<dict>
								<key>Digest</key>
								<data>
								9kuglujBhyXB
								at4hNY4tdw==
								</data>
								<key>Size</key>
								<integer>7188</integer>
							</dict>
							<key>files/category-aem.html</key>
							<dict>
								<key>Digest</key>
								<data>
								lQQddtwr6M5V
								m0kTles04w==
								</data>
								<key>Size</key>
								<integer>8047</integer>
							</dict>
							<key>files/category-banking.html</key>
							<dict>
								<key>Digest</key>
								<data>
								sDqnxclQrGle
								PbArp5iS7A==
								</data>
								<key>Size</key>
								<integer>7213</integer>
							</dict>
							<key>files/category-healthcare.html</key>
							<dict>
								<key>Digest</key>
								<data>
								VDlCtjXKrhg+
								lwXY0Nssnw==
								</data>
								<key>Size</key>
								<integer>7382</integer>
							</dict>
							<key>files/category-public-sector.html</key>
							<dict>
								<key>Digest</key>
								<data>
								mO45wxG+zGyH
								VfsbpQS9pQ==
								</data>
								<key>Size</key>
								<integer>7400</integer>
							</dict>
							<key>files/feed.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								nG5p9INMKeEo
								kcCRYiJUyw==
								</data>
								<key>Size</key>
								<integer>2858</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								Xj+q91Abx1s2
								Q/DdOZ8mRA==
								</data>
								<key>Size</key>
								<integer>3078</integer>
							</dict>
							<key>files/tag-adobe.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Tiin4sofcjeI
								zfaeFrnb3g==
								</data>
								<key>Size</key>
								<integer>7314</integer>
							</dict>
							<key>files/tag-cloud.html</key>
							<dict>
								<key>Digest</key>
								<data>
								cw9HyqJO7kfr
								dhTj7yd6wg==
								</data>
								<key>Size</key>
								<integer>8542</integer>
							</dict>
							<key>files/tag-data-migration.html</key>
							<dict>
								<key>Digest</key>
								<data>
								o1n4VLcvXBzY
								eF9Vz+I6Yw==
								</data>
								<key>Size</key>
								<integer>8596</integer>
							</dict>
							<key>files/tag-digital.html</key>
							<dict>
								<key>Digest</key>
								<data>
								KAfk5KaDJ3Iy
								i+tGAJ48eg==
								</data>
								<key>Size</key>
								<integer>8554</integer>
							</dict>
							<key>files/tag-security.html</key>
							<dict>
								<key>Digest</key>
								<data>
								OIFiemmQ0cQK
								IP6bv+2ufg==
								</data>
								<key>Size</key>
								<integer>7562</integer>
							</dict>
							<key>files/tag-solution-partner.html</key>
							<dict>
								<key>Digest</key>
								<data>
								70n59obGfM4y
								nhwdXtznlg==
								</data>
								<key>Size</key>
								<integer>7380</integer>
							</dict>
							<key>files/tag-sso.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Zcya3W00CjY5
								NF/u+IErsA==
								</data>
								<key>Size</key>
								<integer>7532</integer>
							</dict>
							<key>news.html</key>
							<dict>
								<key>Digest</key>
								<data>
								EDliKNtmdkqZ
								uQekjGi5Cw==
								</data>
								<key>Size</key>
								<integer>9361</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page4</string>
						<key>SiteRoot</key>
						<string>news</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
