<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ChangedStatuses</key>
				<dict>
					<key>default</key>
					<true/>
					<key>file:///Users/ben/Sites/untitled%20folder/</key>
					<true/>
					<key>file:///Users/sal/Downloads/salska.github.io-master/</key>
					<false/>
				</dict>
				<key>ColourStyles</key>
				<dict>
					<key>Artful</key>
					<dict/>
					<key>Mountains</key>
					<dict>
						<key>%colour_banner_overlay%</key>
						<string>rgba(18,13,5,0.75)</string>
					</dict>
					<key>Portfolio</key>
					<dict>
						<key>%colour_body_bg%</key>
						<string>rgba(25,26,23,1.00)</string>
						<key>%colour_body_text%</key>
						<string>rgba(255,255,255,1.00)</string>
						<key>%colour_footer_bg%</key>
						<string>rgba(28,29,26,1.00)</string>
						<key>%colour_footer_text%</key>
						<string>rgba(255,255,255,0.75)</string>
						<key>%colour_headings%</key>
						<string>rgba(255,255,255,1.00)</string>
						<key>%colour_headings_em%</key>
						<string>rgba(255,255,255,0.50)</string>
						<key>%colour_nav_bg%</key>
						<string>rgba(255,255,255,1.00)</string>
						<key>%colour_nav_link%</key>
						<string>rgba(59,62,66,1.00)</string>
						<key>%colour_primary%</key>
						<string>rgba(253,187,92,1.00)</string>
					</dict>
				</dict>
				<key>CreditRapidWeaver</key>
				<true/>
				<key>CustomCopyrightUsed</key>
				<false/>
				<key>CustomSiteTitle</key>
				<string>About us</string>
				<key>CustomSiteTitleUsed</key>
				<true/>
				<key>CustomSlogan</key>
				<string>Lets be outstanding</string>
				<key>CustomSloganUsed</key>
				<true/>
				<key>DefaultLinkTarget</key>
				<string></string>
				<key>FilenameExtension</key>
				<string>html</string>
				<key>FolderName</key>
				<string>about</string>
				<key>HasCustomThemeStyle</key>
				<false/>
				<key>ImageFormat</key>
				<string>Original</string>
				<key>ImageQuality</key>
				<string>High</string>
				<key>IndexFilename</key>
				<string>about.html</string>
				<key>OutputXMLDeclaration</key>
				<false/>
				<key>PluginExtension</key>
				<string>html</string>
				<key>PluginHasPerformedMigrationToSharedData</key>
				<true/>
				<key>RobotsShouldFollowLinks</key>
				<true/>
				<key>RobotsShouldIndexPage</key>
				<true/>
				<key>ShouldEnableRobotTags</key>
				<true/>
				<key>ShouldEnableSocialTags</key>
				<true/>
				<key>SidebarEnabled</key>
				<integer>1</integer>
				<key>SidebarTitle</key>
				<string>Blog Archives</string>
				<key>TextEncoding</key>
				<string>utf-8</string>
				<key>ThemeStyles</key>
				<dict>
					<key>Mountains</key>
					<array>
						<string>Banner.Saturate</string>
						<string>Content Width.Pixels</string>
					</array>
					<key>Portfolio</key>
					<array>
						<string>Banner Background.None</string>
						<string>Banner.Hide</string>
						<string>Banner.Uppercase Title</string>
						<string>Content Width.Pixels</string>
						<string>Headings.Uppercase</string>
						<string>Navigation.Logo</string>
						<string>Navigation.Site Title</string>
						<string>Navigation.Uppercase Links</string>
					</array>
				</dict>
				<key>Variables</key>
				<dict>
					<key>%body_font_size%</key>
					<string>20</string>
					<key>%content_width%</key>
					<string>12</string>
					<key>%sidebar_width%</key>
					<string>12</string>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array/>
		</dict>
	</array>
	<key>Type</key>
	<string>Page Attributes</string>
</dict>
</plist>
