
#stacks_in_43_page7 {
	padding: 50px 0px 0px 0px;
}

#stacks_in_46_page7 {
	background-color: rgba(251, 2, 7, 1.00);
	padding: 80px 0px 80px 10px;
}

#stacks_in_48_page7 {
	padding: 20px 0px 0px 0px;
}
