<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerIdentifier</key>
				<string>023EF3E4-F41E-4C5A-84E7-1E8A0BBED622</string>
				<key>CreatedDate</key>
				<date>2018-06-07T10:54:32Z</date>
				<key>ID</key>
				<string>page0</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Gallery</string>
				<key>PluginClassName</key>
				<string>RWPhotoPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Photo Album</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/sal/Downloads/salska.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-09-19T18:41:01Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/page0-1000-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ExGqN+kSY4Ih
								y3oS9tMIfw==
								</data>
								<key>Size</key>
								<integer>874</integer>
							</dict>
							<key>files/page0-1000-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ECuKhZEPRmQ9
								7NXtXdXe9Q==
								</data>
								<key>Size</key>
								<integer>56452</integer>
							</dict>
							<key>files/page0-1000-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cIt1lL/zNkEd
								cLqsbYTvjQ==
								</data>
								<key>Size</key>
								<integer>35273</integer>
							</dict>
							<key>files/page0-1001-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								A/fQpQXcXebJ
								btOZ1dIYWQ==
								</data>
								<key>Size</key>
								<integer>920</integer>
							</dict>
							<key>files/page0-1001-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								x5t7nrQDJ/kw
								J9I8A8Ysrw==
								</data>
								<key>Size</key>
								<integer>113627</integer>
							</dict>
							<key>files/page0-1001-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								rv8Kc8GBZrKW
								Z21QTpmzqw==
								</data>
								<key>Size</key>
								<integer>52564</integer>
							</dict>
							<key>files/page0-1002-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								4Up2RpsFf7dJ
								38QCiRE/7A==
								</data>
								<key>Size</key>
								<integer>920</integer>
							</dict>
							<key>files/page0-1002-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								YK2m9qoPNaPJ
								uUvfUdRruw==
								</data>
								<key>Size</key>
								<integer>152846</integer>
							</dict>
							<key>files/page0-1002-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XdvmxrVI7b66
								/ednBwqfmA==
								</data>
								<key>Size</key>
								<integer>39236</integer>
							</dict>
							<key>files/page0-1003-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								DP3MxNcNG3vB
								94E2dyIK0Q==
								</data>
								<key>Size</key>
								<integer>920</integer>
							</dict>
							<key>files/page0-1003-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								yH0DtIeLq+Oe
								jYYWEQoSnw==
								</data>
								<key>Size</key>
								<integer>74352</integer>
							</dict>
							<key>files/page0-1003-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								WbRRhY4GfXwO
								yN3WWHoJjg==
								</data>
								<key>Size</key>
								<integer>29127</integer>
							</dict>
							<key>files/page0-1004-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								C6DD285yN6ef
								lUzLBCJlTQ==
								</data>
								<key>Size</key>
								<integer>920</integer>
							</dict>
							<key>files/page0-1004-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DpMSjLTrBRNQ
								0UzJuOaUWw==
								</data>
								<key>Size</key>
								<integer>96582</integer>
							</dict>
							<key>files/page0-1004-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								LFJOqugq+BjS
								PuTd8uEyrA==
								</data>
								<key>Size</key>
								<integer>33364</integer>
							</dict>
							<key>files/page0-1005-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								L1MOQRzZHwvf
								cG/V0ItHrg==
								</data>
								<key>Size</key>
								<integer>878</integer>
							</dict>
							<key>files/page0-1005-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uWrIWlU6rqOv
								Rxyxb5SRkw==
								</data>
								<key>Size</key>
								<integer>51148</integer>
							</dict>
							<key>files/page0-1005-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tqBrN24mW9EV
								H+POsz8IVQ==
								</data>
								<key>Size</key>
								<integer>22472</integer>
							</dict>
							<key>gallery.html</key>
							<dict>
								<key>Digest</key>
								<data>
								MSM2UvdDd1J6
								cwcEjt0y+Q==
								</data>
								<key>Size</key>
								<integer>6390</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string>gallery</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
