<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerIdentifier</key>
				<string>8048275B-7470-48F3-82F2-FC0CE7420DF1</string>
				<key>CreatedDate</key>
				<date>2018-06-07T10:45:08Z</date>
				<key>CustomThemeName</key>
				<string>Future</string>
				<key>ID</key>
				<string>page4</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>News</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/sal/Downloads/salska.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-09-20T11:27:00Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/277340c36d4b47e89a86ffd2c90acbc3-2.html</key>
							<dict>
								<key>Digest</key>
								<data>
								eK3s9AHwB4t7
								cGJuTCbnaQ==
								</data>
								<key>Size</key>
								<integer>7397</integer>
							</dict>
							<key>files/5e6e119d3ab23544ce692cd9501825ba-4.html</key>
							<dict>
								<key>Digest</key>
								<data>
								dmmrZ5qJaO3X
								ZTwu3EFQHg==
								</data>
								<key>Size</key>
								<integer>13448</integer>
							</dict>
							<key>files/ba7b370f30657cfc6dae614a1b4cdf59-3.html</key>
							<dict>
								<key>Digest</key>
								<data>
								G27fqShIzMVA
								8Ejps9QR0Q==
								</data>
								<key>Size</key>
								<integer>7197</integer>
							</dict>
							<key>files/category-aem.html</key>
							<dict>
								<key>Digest</key>
								<data>
								YVHV92e5EmHS
								Nf3MZJsNMQ==
								</data>
								<key>Size</key>
								<integer>8061</integer>
							</dict>
							<key>files/category-banking.html</key>
							<dict>
								<key>Digest</key>
								<data>
								9cdkctwreWpo
								lzXe7rLS7w==
								</data>
								<key>Size</key>
								<integer>7227</integer>
							</dict>
							<key>files/category-healthcare.html</key>
							<dict>
								<key>Digest</key>
								<data>
								mYu8Jowdx8Xf
								JTSxjRQNIw==
								</data>
								<key>Size</key>
								<integer>7396</integer>
							</dict>
							<key>files/category-public-sector.html</key>
							<dict>
								<key>Digest</key>
								<data>
								35GA951kVJdS
								gD8piT7r3w==
								</data>
								<key>Size</key>
								<integer>7414</integer>
							</dict>
							<key>files/feed.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								pERWch0w1rgf
								JvqKgYp49w==
								</data>
								<key>Size</key>
								<integer>2857</integer>
							</dict>
							<key>files/meta.js</key>
							<dict>
								<key>Digest</key>
								<data>
								Xj+q91Abx1s2
								Q/DdOZ8mRA==
								</data>
								<key>Size</key>
								<integer>3078</integer>
							</dict>
							<key>files/tag-adobe.html</key>
							<dict>
								<key>Digest</key>
								<data>
								Up6YYWDCCtcD
								vinHyo4XPg==
								</data>
								<key>Size</key>
								<integer>7323</integer>
							</dict>
							<key>files/tag-cloud.html</key>
							<dict>
								<key>Digest</key>
								<data>
								uyRSEusOBj7k
								NPb9IW3tUg==
								</data>
								<key>Size</key>
								<integer>8546</integer>
							</dict>
							<key>files/tag-data-migration.html</key>
							<dict>
								<key>Digest</key>
								<data>
								e2tIY0KE29QU
								uzU5NeF6lg==
								</data>
								<key>Size</key>
								<integer>8600</integer>
							</dict>
							<key>files/tag-digital.html</key>
							<dict>
								<key>Digest</key>
								<data>
								3+DcmW+4oLZy
								SKUOW48WDw==
								</data>
								<key>Size</key>
								<integer>8558</integer>
							</dict>
							<key>files/tag-security.html</key>
							<dict>
								<key>Digest</key>
								<data>
								nWTl4T6hZc5/
								gxZPZs0A0w==
								</data>
								<key>Size</key>
								<integer>7571</integer>
							</dict>
							<key>files/tag-solution-partner.html</key>
							<dict>
								<key>Digest</key>
								<data>
								FGeURd6rlJ0F
								qdr5fZQyEA==
								</data>
								<key>Size</key>
								<integer>7389</integer>
							</dict>
							<key>files/tag-sso.html</key>
							<dict>
								<key>Digest</key>
								<data>
								lhyyLpQU0QrJ
								aEUyGlt06w==
								</data>
								<key>Size</key>
								<integer>7541</integer>
							</dict>
							<key>news.html</key>
							<dict>
								<key>Digest</key>
								<data>
								0grHkvNMI8Ex
								qQoJR5jZVw==
								</data>
								<key>Size</key>
								<integer>9360</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page4</string>
						<key>SiteRoot</key>
						<string>news</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
