<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict/>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>1A0C257A-3465-43AD-8EFE-52FC57DBD5AD</string>
				<string>1FEB5D68-36A2-4900-8F04-A4D30D54CB1A</string>
				<string>5E6455E4-0A08-4BFC-8F0F-866CAB0BE8E1</string>
				<string>6C520861-C8E4-4F3A-B059-6A75A24185B7</string>
				<string>6DA4550F-97E7-490D-A6D4-7B2571E11D2E</string>
				<string>7168DFCC-0752-4693-B88B-03D135B52C87</string>
				<string>72CE849C-AE35-4CF2-B450-1227F7ED5E63</string>
				<string>8CA2895A-0087-4224-86D2-F53B51924BFE</string>
				<string>9632BDFD-60C8-4BE1-B5CA-4D85FF4E56EB</string>
				<string>9AE3EC4B-AFC7-4D84-90F2-4480443FB3E4</string>
				<string>CCF86A17-FB41-482F-81BE-E5349ECEE65D</string>
				<string>CD6CC3BE-A52B-4720-B443-9FB1BDE3AA57</string>
				<string>D3D707A6-DA52-4A2E-8A84-3981BBCBCC6C</string>
				<string>D74A7671-33AA-4615-8B50-44C454DD3EE7</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Resources</string>
</dict>
</plist>
