<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerIdentifier</key>
				<string>5000328A-8456-473B-88A6-B2DDDF25316E</string>
				<key>CreatedDate</key>
				<date>2019-09-20T10:06:06Z</date>
				<key>ID</key>
				<string>page0</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Work</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>3.6.8</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/sal/Downloads/salska.github.io/</key>
					<dict>
						<key>CreationDate</key>
						<date>2019-09-22T13:49:42Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks-image-4a3f0e7-25.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Drkb99Mi5Kbu
								Lfp1OKw3qQ==
								</data>
								<key>Size</key>
								<integer>40032</integer>
							</dict>
							<key>files/stacks-image-b141a10.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2XNcbUtpovdX
								/8VKXprngw==
								</data>
								<key>Size</key>
								<integer>37394</integer>
							</dict>
							<key>files/stacks-image-d8a0c5c.png</key>
							<dict>
								<key>Digest</key>
								<data>
								IhoWEfgXcW/j
								/jbBIVEAJQ==
								</data>
								<key>Size</key>
								<integer>44077</integer>
							</dict>
							<key>files/stacks_page_page0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								bmRTwRI+8OHr
								4lT+zEFGQg==
								</data>
								<key>Size</key>
								<integer>1025</integer>
							</dict>
							<key>files/stacks_page_page0.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								BRJcuQl/1pd2
								Ke7n/lpehg==
								</data>
								<key>Size</key>
								<integer>6926</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string>work</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
